@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*Navbar Style*/
.navbar {
    font-weight: 200;
    font-size: 40px;
    position: fixed;
    /*padding: 30px , 0;*/
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 15px, 0;
    background-color: #5026A7;
    position: fixed;
}

.navbar .max-width {
    display: flex;
    align-items: left;
    justify-content: space-between;

}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;


}

.navbar .logo a {
    color: white;
    font-size: 45px;
    font-weight: 700;
    display: flex;


}

.navbar .logo a span {
    color: crimson;
    transition: all 0.3s ease;

}

.navbar.sticky .logo a span {
    color: white;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
    align-items: left;
}

.navbar .menu li a {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: crimson;
}

.navbar.sticky .menu li a:hover {
    color: white;
}

/*menu button*/

.menu-btn {
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/*home section*/
.home {
    display: flex;
    background-color: #28FFBF;
    background-image: url(waves.png);
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    color: #111;
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
    color: #fff;
    font-weight: 600;

}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 1000;
    color: #FFF;
    margin-left: -3px;

}

.home .home-content .text-3 {
    font-size: 85px;
    color: #fff;
    margin: 5px, 0;
}

.home .home-content .text-3 span {
    color: red;
    font-weight: 500;

}

.home .home-content a {
    display: inline-block;
    background-color: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: #fff;
    background: none;
}

/*About section*/
section {

    background-color: #28FFBF;
}

.about,
footer {
    font-family: 'Poppins', sans-serif;
}

.about .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.about .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.about .title::after {
    content: "who I am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #28FFBF;
    transform: translateX(-50%);
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {

    width: 300px;
    object-position: top;
    border-radius: 50%;

}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: crimson;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right .linkedin {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: crimson;
    background: none;
}

/*skill section*/

section {
    padding: 100px 0;
}

.skills {
    font-family: 'Poppins', sans-serif;
    background: #B2EA70;
    color: #fff;
}

.skills .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.skills .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 250px;
    height: 3px;
    background: #fff;
    transform: translateX(-50%);
}

.skills .title::after {
    content: "Tools and Technologies";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #B2EA70;
    transform: translateX(-50%);
}

.skills .skills-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    justify-content: center;
}

.section .skills {
    background-color: #eeb4aa;
    padding-top: 80px;
}

.container-icons {
    text-align: center;
    margin-bottom: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.container-icons .devicon,
.container-icons .fab,
.container-icons .fas {
    color: #fff;
    font-size: 3.5rem;
}

.container-icons .box-icon {
    width: 30%;
    height: 100px;
    margin-bottom: 10px;
}

.container-icons .box-icon p {
    color: #656565;
}

.container-icons .box-icon .fa-js {
    height: 72px;
}

.section.skills p:first-of-type {
    margin-bottom: 50px;
}




/*Contact section*/
section {
    padding: 100px 0;
}

.contact {
    color: #2A528A;
    font-family: 'Poppins', sans-serif;
    background-color: #FED2AA;
}

.contact .title {
    position: relative;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.contact .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.contact .title::after {
    content: "get in touch";
    position: absolute;
    background: #FED2AA;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;

    transform: translateX(-50%);
}

.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .left .icons2 i {
    font-size: 25px;
    color: #2A528A;
    margin-right: 20px;
    transition: all 0.3s ease;
}

.contact .contact-content .left .icons2 i:hover {
    transform: scale(1.50);
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: #2A528A;
}

.contact .contact-content .info .head {
    font-weight: 600;
}

.contact .contact-content .info .head .sub-title {
    color: #2A528A;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
    border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid #2A528A;
    background: #2A528A;
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    color: #2A528A;
    background: none;
}

/* footer section styling */
footer {
    background: #5026A7;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}

footer span a {
    color: crimson;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}

/*Responsive media query*/
@media(max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media(max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media(max-width: 947px) {
    .menu-btn {
        
        display: flex;
        align-items: center;
        z-index: 999;
        cursor: pointer;

    }

    .menu-btn i.active::before {
        content: "\f00d"
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: black;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .max-width {
        max-width: 800px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media(max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 27px;
    }
}

@media(max-width: 507px) {
    .home .home-content .text-2 {
        font-size: 45px;
    }

    .home .home-content .text-3 {
        font-size: 22px;
    }
}


@media (max-width: 507px) {
    .container-icons .box-icon {
        width: 25%;
    }
}

@media (max-width: 100px) {
    .container-icons .box-icon {
        width: 12.5%;
    }
}

.container-icons .container-img-i {
    display: block;
    width: 50%;
    height: 3.5rem;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .skills .title::after {
        bottom: -30px;


    }

}